/* Cabeçalho de pessoas*/
.cabecalho{
    color:rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-size: 20px;
    text-shadow: 5px 5px 7px black;
    margin-bottom: 30px;
}

/* Cabeçalho de empresas*/
.cabecalho2{
    color:rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-size: 20px;
    text-shadow: 5px 5px 7px black;
}


.layout{
    background-color: #00000083;
    margin: 0px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    box-shadow: 2px 5px 7px 1px black;
    color:white;
    
}
body{
    background-color: #d0d7deea;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: url(../imgs/cadastro.avif);
    
    /* ajusta a imagem para ocupar toda a tela */
    background-size: cover;
    
    /* impede que a imagem se repita */
    background-repeat: repeat;

    /* mantém a imagem fixa ao rolar a página (opcional) */
    background-attachment: fixed;
    
    /* centraliza a imagem */
    background-position: center;
    
    
}
.container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    
}